.u-clearfix:after {
  content: '';
  display: block;
  clear: both;
}
* {
  transition: color, background, box-shadow, border 0.3s, 0.3s, 0.3s, 0.3s;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-size: 20px;
  font-family: "Segoe UI Light", sans-serif;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  background: #FBD8CA;
}
.wrapper:after {
  content: '';
  display: block;
  clear: both;
}
.header {
  height: 100px;
  background: #FBDEEB;
  box-shadow: 0 0 15px #555;
}
.brand {
  height: 100%;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
.brand__name {
  font-weight: bold;
  font-size: 40px;
  color: #474042;
  text-shadow: 0 1px 2px #f9f9f9, 1px 0 2px #000;
}
.brand__name__link {
  text-decoration: none;
  color: #474042;
}
.navigation {
  height: 100%;
}
.nav__menu {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__menu__list {
  list-style: none;
  text-align: center;
  margin: 0;
}
.nav__menu__list__item {
  display: inline-block;
  font-size: 20px;
}
.nav__menu__link {
  display: inline-block;
  text-decoration: none;
  color: #363132;
  padding: 10px 20px;
  transition: background linear .3s;
}
.nav__menu__link:hover {
  background: #F6B9D2;
}
.sidebar {
  background: #FBEFF4;
  float: left;
  width: 300px;
  box-sizing: border-box;
  margin: 10px 0 0 0;
}
.sidebar__heading {
  padding-left: 15px;
}
.sidebar__list {
  list-style-type: circle;
}
.sidebar__link {
  text-decoration: none;
  color: #363132;
  transition: background linear .3s;
}
.sidebar__link:hover {
  background: #F6B9D2;
}
.content {
  margin: 10px 0 0 330px;
  box-sizing: border-box;
  background: #FDF8FA;
  padding: 10px 10px 100px 10px;
}
.register__form__heading {
  margin-top: 0;
}
.register__form__head {
  font-size: 25px;
  font-family: Arial, sans-serif;
}
.register__form__details {
  border: none;
  border-bottom: 1px solid #ccc;
}
.register__form__details label {
  font-size: 18px;
}
.register__form__details input,
.register__form__details textarea {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow linear 0.3s;
}
.register__form__details input:focus,
.register__form__details textarea:focus {
  box-shadow: 0 0 15px #FD3251;
  outline: none;
}
.register__form__details input[type="url"]:focus,
.register__form__details #shoesize:focus,
.register__form__details input[type="radio"]:focus,
.register__form__details input[type="button"]:focus {
  box-shadow: 0 0 15px #26EB8F;
}
.register__form__details input[type="button"] {
  margin-top: 40px;
  background: linear-gradient(to bottom, #E7E6E6, #FFFFFF);
}
.register__form__details input[type="button"]:hover {
  background: linear-gradient(to bottom, #FFFFFF, #E7E6E6);
}
.footer {
  background: #E1C7D3;
  height: 100px;
  margin-top: -100px;
  text-align: center;
}
